.slider {
	width: 740px;
	height:350px;
	position:relative;
	overflow:hidden;
}
.slider .imgs {
	position:absolute;
	top: 0;  left: 0;
	height:500px;
}
.slider .imgs li{
	float:left;
	z-index:0;
}
.slider .indexs {
    position:absolute;
    bottom:15px;
    right:35%;
}
.slider .indexs li {
    width: 35px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    background: #3e3e3e;
    color: #fff;    
    text-align: center;
    cursor: pointer;
    margin-left:10px;
}
.slider .indexs li:hover,.slider .indexs li.hover {
    background:#b61b1f;
}