.page {
  transition: all 0.5s linear;
  position: absolute;
  width: 100%;
}
.page.ng-enter {
  left: 100%;
}
.page.ng-enter.ng-enter-active {
  left: 0;
}
.page.ng-leave {
  left: 0;
}
.page.ng-leave.ng-leave-active {
  left: -100%;
}
.container {
  padding: 0;
}
.cmn {
  height: 91px;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  margin-top: 100px;
}
.cmn ul {
  text-align: center;
  height: 76px;
  width: 1080px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
}
.cmn ul li.active {
  color: #000;
}
.cmn ul li.active span {
  border: 1px solid #000;
}
.cmn ul li {
  float: left;
  width: 32%;
  position: relative;
  font: 24px/76px '微软雅黑';
  color: #d9d9d9;
}
.cmn ul li span {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  margin-top: 23px;
  border: 1px solid #d9d9d9;
  font: 22px/28px Arial, Helvetica, sans-serif;
}
.cmn ul li i {
  font: 14px "Times New Roman", Times, serif;
  position: absolute;
  top: 10px;
  left: 48px;
}
.cmn ul li b {
  position: absolute;
  left: 46px;
  top: 25px;
  font: 24px '微软雅黑';
}
